.contenedor{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.coleccion-card {
  background-color: #217A43;
  padding: 16px;
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  max-width: 400px;
  margin: 20px auto;
  width: 90%;
  border: none;
}

.coleccion-container {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.coleccion-imagen-container {
  position: relative;
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
}

.coleccion-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.coleccion-titulo {
  margin: 0 0 8px 0;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.lista-colecciones {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 0;
}

.img{
  width: 10%;
  height: 10%;
}
