.box-pref-sb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 8px 16px;
}

.select-preferencias {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  padding-left: 9px;
  background-color: #217A43;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  text-align: center;
}

.btn-in-receta {
  width: 80px;
  height: 40px;
  border-radius: 20px;
  background-color: #217A43;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  text-align: center;
}
