<ion-card *ngFor="let item of listaCompraIngredientes" class="producto-card">
  <div class="producto-container">
    <div class="producto-info">
      <p class="producto-nombre">{{ item.ingrediente.nombre }}</p>
      <p class="producto-descripcion">{{ item.ingrediente.descripcion }} - Cantidad: {{ item.cantidad }} {{item.ingrediente.unidadMedida}}</p>
      <div class="producto-acciones">
        <ion-button (click)="eliminarIngrediente(item)">
          <p class="boton-texto">Eliminar del carrito</p>
        </ion-button>
      </div>
    </div>
  </div>
</ion-card>
