.receta-card {
  background-color: #217A43;
  padding: 16px;
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  max-width: 400px;
  margin: 20px auto;
  width: 90%;
  border: none;
}

.receta-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: flex-start;
}

.receta-imagen-container {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  max-width: 200px;
  height: 200px;
  border-radius: 8px;
  overflow: hidden;
}

.imagen_receta {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  border: none;
}

.boton {
  --background: #217A43;
  --color: white;
  --border-radius: 20px;
  --padding-start: 16px;
  --padding-end: 16px;
  --padding-top: 8px;
  --padding-bottom: 8px;
  --box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
  font-weight: bold;
  font-size: 0.95rem;
  transition: transform 0.2s, box-shadow 0.2s;
}

.boton-compartir{
  --background: #ffffff;
  --color: #000000;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  font-weight: 600;
  height: 20px;
  width: 120px;
}

.receta-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.receta-titulo {
  margin: 0 0 8px 0;
  font-weight: 600;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 16px;
}

.receta-descripcion {
  font-size: 14px;
  --color: #ffffff;
  margin-top: 12px;
}

.receta-acciones {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 16px;

}

ion-button {
  --border-radius: 8px;
}
