.registro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.registro-imagen-container {
  width: 290px;
  height: 290px;
  margin: 0 auto 40px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

ion-item {
  --background: white;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  margin-top: 40px;
  --color: black;

  ion-label {
    font-size: 1rem;
    display: block;
  }

  ion-input {
    font-size: 1.2rem;
    height: 50px;
    padding: 0 10px;
    --color: black;
  }
}

.registro-boton {
  --background: #2e7d32;
  --background-hover: #27682a;
  --background-focused: #1b5e20;
  color: white;
  font-weight: 600;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  margin-top: 50px;
}

ion-datetime {
  --background: white;
  --color: black;
}
