<ion-card class="receta-card">
  <div class="receta-container">

    <div class="receta-imagen-container">
      <img class="imagen_receta" src="assets/images/receta.png" alt="Receta" />
    </div>

    <div class="receta-info">
      <p class="receta-titulo">Receta</p>

      <ion-button fill="solid" class="boton-compartir" size="small" (click)="compartirReceta()">
        Compartir
      </ion-button>

      <div class="receta-descripcion">
        <p>Descripción de la receta... Aquí puedes añadir detalles sobre los ingredientes, tiempo de preparación, etc.</p>
      </div>

      <div class="receta-acciones">
        <ion-button class="boton" (click)="guardarReceta()">Guardar</ion-button>
        <ion-button class="boton" (click)="anadirAlCarrito()">Añadir al carrito</ion-button>
      </div>
    </div>

  </div>
</ion-card>
