.boton-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 20px;
  box-sizing: border-box;
}

.boton_login_registro {
  max-width: 300px;
  width: 100%;
  --background: #2e7d32;
  --background-focused: #1b5e20;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.6);
  font-weight: 600;
  border-radius: 8px;
  height: 48px;
  --border-radius: 0px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  margin-top: 5%;
}

.logo {
  width: 400px;
  height: auto;
  margin-top: 25%;
}

.animated-logo {
  animation: fadeZoomIn 1.5s ease-in-out forwards;
  opacity: 0;
}

@keyframes fadeZoomIn {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
