.boton-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 0 20px;
  box-sizing: border-box;
}

.boton {
  max-width: 300px;
  width: 100%;
  --background: #2e7d32;
  --background-focused: #1b5e20;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.6);
  font-weight: 600;
  border-radius: 8px;
  height: 48px;
}
