.perfil-card {
  background-color: #217A43;
  padding: 16px;
  color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease;
  max-width: 400px;
  margin: 20px auto;
  width: 90%;
  border: none;

  .perfil-content {
    text-align: center;
  }

  .perfil-avatar {
    margin: 0 auto;
    width: 100px;
    height: 100px;

    img {
      border-radius: 50%;
      border: 2px solid #309556;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .perfil-nombre {
    margin-top: 16px;
    font-weight: bold;
    font-size: 1.3rem;
  }

  .perfil-boton {
    --background: #ffffff;
    --color: #000000;
    --border-radius: 8px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    height: 36px;

    margin-top: 25%;
  }

}

.perfil-datos {
  background-color: #ffffff;
  color: #000000;
  border-radius: 12px;
  padding: 10px 14px;
  margin-top: 20px;
  box-shadow: 0 2px 6px rgb(33, 122, 67);

  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    margin: 0;
    text-align: left;
    font-size: 1rem;
  }

  strong {
    color: #217A43;
  }

  .editar-icono {
    width: 24px;
    height: 24px;
    color: #217A43;
    flex-shrink: 0;
  }
}
