<ion-header>
  <app-cabecera></app-cabecera>
</ion-header>

<ion-content>
  <ion-toolbar>
    <div class="titulo-img">
      <img src="./assets/images/inventario_logo.png" alt="Inventario Logo">
    </div>

    <app-tarjeta-inventario
      *ngIf="usuario?.id !== undefined"
      [usuarioId]="usuario?.id">
    </app-tarjeta-inventario>

    <p *ngIf="!usuario || usuario?.id === undefined">
      Cargando inventario...
    </p>
  </ion-toolbar>
</ion-content>

<ion-footer>
  <app-footer></app-footer>
</ion-footer>
